@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-background: #050505;
  --color-foreground: #fafafa;
  --color-muted: #a3a3a3;
  --color-border: #262626;
}

:root {
  --background: #050505;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #333;
  color: #fff;
}